<!DOCTYPE html>
<html>

<header>
	<h1>Gerda39</h1>
  <ul>
    <li>Welcome</li>
    <li>Portfolio</li>
    <li>Blog</li>
    <li>About</li>
    <li>Contact</li>
  </ul>
  </header>
  
<main>
  <div class="main-background">
    <h2>Hello. My name is Gerda39 and I am preparing to make a successful career transition into the world of Web Development and Dev Ops</h2>
    <a href="http://scatchy.livejournal.com/">View my Work</a>
  </div>
</main>

<footer>
	
  <a href="https://www.facebook.com/lyd.lyd.3"><img src="https://dl.dropbox.com/s/4x1q2q7axs3ewo1/facebook55.png"/></a>
  <a href="https://twitter.com/Gerda390"><img src="https://dl.dropbox.com/s/mvbil3kl6m0tqdo/bird1.png?dl=0"/></a>
  <p>© 2015 Gerda39</p>
  
</footer>
  
</html>