<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>  
    <div class="main">
      <div class="main-background">
        <h2>Hello. My name is G.../h2>
        <a href="http://www.livejournal.com/">View my Work</a>
      </div>
    </div>
  </body>


  
</html>
