<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>  
    <div class="main">
      <div class="main-background">
        <h2>Hello. My name is Gerda39 and I am preparing to make a successful career transition into the world of Web Development and Dev Ops</h2>
        <a href="http://scatchy.livejournal.com/">View my Work</a>
      </div>
    </div>
  </body>


  
</html>